* {
    margin: 0;
}
html, body {
    height: 99%;
}
h1, h2 {
    font-family: "Bodoni MT Poster Compressed" !important;
}
.page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -20px;
    margin-left: 20px;
    margin-right: 20px;
}
.site-footer, .page-wrap:after {
    height: 20px;
}
.site-footer {
    background: #F3F3F7;
    padding-right: 10px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.nice-wrapping {
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    word-break: break-all;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.nicer-wrapping {
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.navbutton {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

