* {
    margin: 0;
}
html, body {
    height: 99%;
}
.page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -20px;
    margin-left: 20px;
    margin-right: 20px;
}
.site-footer, .page-wrap:after {
    height: 20px;
}
.site-footer {
    background: #F3F3F7;
    padding-right: 10px;
}