<!DOCTYPE html>
<html lang="en" ng-app="SAKapp" ng-strict-di xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Alerter Service Info</title>
    <link rel="stylesheet" href="../../css/bootstrap.css">




</head>
<body>
<toaster-container toaster-options="{'time-out': 3000}"></toaster-container>
<div ng-controller="AlerterController" class="container">

    <div class="row">
        <h1 class="alert alert-info">Send to the Alerter Service</h1>
        <form ng-submit="postLog()">

            <div class="form-group">
                <label for="alertMessage">Message to send to Alerter:</label>
                <input id="alertMessage" ng-model="alertMessage" type="text" class="form-control" placeholder="Enter a message">



                <br>
                <button type="submit"  class="btn btn-primary">Submit Alert Message</button></div>



            <br>

            <br>
        </form>
    </div>

    <div class="row">
        <h1 class="alert alert-info">Alerter Service Info</h1>
        <p>Use the following to query the Alerter service. </p>
        <form ng-submit="getAlerts()">
            <div class="row">
                <div class="col-md-6">
                    <button type="submit" class="btn btn-primary">Get Alert(s)</button>
                </div>
            </div>
            <toaster-container></toaster-container>
        </form>
    </div>



    <div class="row">
        <h1 class="alert alert-info">Alerts Returned from Service</h1>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group" ng-show="logs">

                    <label>Filter: <input ng-model="searchText"></label>
                    <table id="searchTextResults" class="table table-striped" width="100%">
                        <tr><th >Time</th>
                            <th >Service</th>
                            <th >Address</th>
                            <th >Severity</th>
                            <th >Message</th>
                        </tr>
                        <tr ng-repeat="log in logs | filter:searchText">
                            <td >{{alert.time}}</td>
                            <td >{{alert.service}}</td>
                            <td >{{alert.address}}</td>
                            <td >{{alert.severity}}</td>
                            <td >{{alert.message}}</td>
                        </tr>
                    </table>


                </div>

            </div>
        </div>
        <br>

        <br>




    </div>
</div>
</body>
</html>