<!DOCTYPE html>
<html lang="en" ng-app="SAKapp" ng-strict-di>
<head>
    <meta charset="UTF-8">
    <title>Ingester Service Info</title>
    <link rel="stylesheet" href="../../css/bootstrap.css">


</head>
<body>

<div ng-controller="IngesterController" class="container">
    <div class="row">
        <h1 class="alert alert-success">Ingester Service Info</h1>
        <p>Use the following input to ingest a file into the system.</p>
        <form>
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label for="file">File to upload</label>
                        <input id="file" type="file" class="form-control" ng-model="file" accept="image/*">

                    </div>
                </div>
                <div class="col-md-1">
                    <br>
                    <button type="button" class="btn btn-primary" ng-click="ingest()">Ingest file</button>
                </div>
            </div>
            <h3 ng-show="jobId">{{jobId}}</h3>
            <br>

            <p>{{data}}</p>

        </form>
    </div>
</div>

</body>
</html>