<!DOCTYPE html>
<html lang="en" ng-app="SAKapp" ng-strict-di xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Logger Service Info</title>
    <link rel="stylesheet" href="../../css/bootstrap.css">


</head>
<body>
<toaster-container toaster-options="{'time-out': 3000}"></toaster-container>
<div ng-controller="LoggerController" class="container">

   <div class="row">
        <h1 class="alert alert-info">Send to the Logger Service</h1>
        <form ng-submit="postLog()">

                    <div class="form-group">
                        <label for="logMessage">Message to send to Logger:</label>
                        <input id="logMessage" ng-model="logMessage" type="text" class="form-control" placeholder="Enter a message">



<br>
                <button type="submit"  class="btn btn-primary">Log Message</button></div>



            <br>

            <br>
        </form>
    </div>

    <div class="row">
        <h1 class="alert alert-info">Logger Service Info</h1>
        <p>Use the following to query the Logger service. </p>
        <form ng-submit="getLogs()">
            <div class="row">
                <div class="col-md-6">
                    <button type="submit" class="btn btn-primary">Get Log(s)</button>
                </div>
            </div>

        </form>
    </div>



    <div class="row">
        <h1 class="alert alert-info">Logs Returned from Service</h1>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group" ng-show="logs">

                   <label>Filter: <input ng-model="searchText"></label>
                   <table id="searchTextResults" class="table table-striped" width="100%">
                        <tr><th >Time</th>
                            <th >Service</th>
                            <th >Address</th>
                            <th >Severity</th>
                            <th >Message</th>
                        </tr>
                        <tr ng-repeat="log in logs | filter:searchText">
                            <td >{{log.time}}</td>
                            <td >{{log.service}}</td>
                            <td >{{log.address}}</td>
                            <td >{{log.severity}}</td>
                            <td >{{log.message}}</td>
                        </tr>
                    </table>

                   <!--<div id="logs" ng-repeat="log in logs | filter:searchText">
                        {{log.time}} - {{log.service}} - {{log.address}} - {{log.severity}}: {{log.message}}
                   </div>-->

                </div>
                <label id="errorMsg">{{errorMsg}}</label>
            </div>
        </div>
        <br>

        <br>




    </div>
</div>
</body>
</html>